/* 
    Created on : Sep 7, 2018, 9:59:25 AM
    Author     : Dimitris Papadopoulos
    Project    : Telegrams on map, custom CSS
*/

#mapArea{
    
    height:500px;
    
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}
.mapboxgl-popup{
     font-size:10px;
}
.mapboxgl-popup h3{
    font-size:12px;
    font-weight: bold;
}
.mapboxgl-popup ul,.dropdown-menu ul{
     margin:0px;
     padding:0px;
     list-style-type: none;
}
.mapboxgl-popup ul li,.dropdown-menu ul li{
     font-size:10px;
}
.dropdown-menu ul li{
    padding-left:5px;
}

.nav-item.dropdown{
    line-height: 1;
    padding-top:0px;
    padding-bottom: 0px;
}

.infoWindowC{
    display:none;
}
